body {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically *; /* Makes the body take full viewport height */ /* Removes default margin */
    background-color: navy; /* Optional background color */
}

.container{
    margin-top: 100px;
    text-align: center;
    border: 1px solid grey;
    width: 500px;
    height: 510px;
    background-color: blanchedalmond;
}

input{
    margin-bottom: 15px;
    padding: 8px;
    width: 200px;
    font-weight: bold;
}

.button{
    margin-top: 30px;
    padding: 13px 25px !important;
    color:azure;
    border-radius: 2px;
    background-color: #5474ab;
    text-shadow: 4px goldenrod;
    font-weight: 600;
    border: 1px solid goldenrod ;
    box-shadow: 2px goldenrod;
}
#results{
    color: wheat;
}